<div class="container">
  <div class="row">
    <div class= "col-md-10 col-md-offset-1">

      <div class="page-header">

        <div class="col-md-3 col-sm-4">
          <div class="text-center">
            <%= image_tag @user.avatar, class: "img-responsive img-rounded" %>
          </div>
        </div>
  
        <div class="col-md-9 col-sm-8">
          <h2><%= @user.name %></h2>
          <p><strong><%= @user.email %></strong></p>
          <ul class="list-unstyled list-inline">
            <li><strong><%= @commented_restaurants.count %></strong> 已評論餐廳</li>
            <li><strong><%= @favorited_restaurants.count %></strong> 已評論餐廳</li>
            <li><strong><%= @followings.count %></strong> 已評論餐廳</li>
            <li><strong><%= @followers.count %></strong> 已評論餐廳</li>
          </ul>
          <div><%= simple_format @user.intro %></div>
          <% if @user.email == current_user.email %>
            <%= link_to 'Edit Profile', edit_user_path(@user), class: "btn btn-primary" %>
          <%end%>
        </div>

        <div class="clearfix"></div>

      </div>

      <br>

      <div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><strong><%= @commented_restaurants.count %></strong> 已評論餐廳</h3>
          </div>
          <div class="panel-body">
            <% @commented_restaurants.each do |restaurant| %>
            <%= link_to restaurant_path(restaurant) do %>
          <div class="my-restaurant">
            <div>
              <%= image_tag restaurant.image, class: "img-responsive img-rounded" %>  
            </div>
            <h5><%= restaurant.name %></h5>
          </div>

            <% end %>  
            <% end %>
          </div>
        </div>
      </div> 

      <div>
        <h3><%= @commented_restaurants.name %>評論過的餐廳</h3>
        <h3>最愛餐廳<%= @favorited_restaurants %></h3>
        <h3>追蹤對象<%= @followings %></h3>
        <h3>追蹤者<%= @followers %></h3>
      </div> 
      


      
    </div>
  </div>
</div>